<div id = "body_new-user" class="container-fluid" style = "margin-top:65px;">
 <header style = "margin-left: 3%;">
  <h1><%= t('.sign_up') %> </br> <%= t('.free') %></h1>
</header>       
<div  class="form">
  <%= form_for(:user) do |f| %>

    <p class="contact"><label> <%= t('.name') %> </label></p>
    <%= f.text_field :name, id: 'name', placeholder: t('.first_name') %>

    <p class="contact"><label> <%= t('.email') %> </label></p>
    <%= f.text_field :email, id: 'email', placeholder: t('.email')%>

    <p class="contact"><label for="username"><%= t('.create_username') %></label></p> 
    <input id="username" name="username" placeholder= <%= t('.username') %> required="" tabindex="2" type="text"> 

    <p class="contact"><label> <%= t('.password') %> </label></p>
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: t('.pass')) %>


    <p class="contact"><label for="repassword"> <%= t('.confirm_password')%> </label></p> 
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: t('.pass2')) %>

    <br><br>

    <%= f.submit t('.register'), class: 'btn btn-primary' %>

  <% end %>

</div>      
</div>
</div>