<div id = "body_new-user" class="container-fluid";>
 <header>
  <h1> Sign Up </h1>
<h1>It's free and always will be</h1>
</header>       
<div  class="form">
  <%= form_for(:user) do |f| %>

    <p class="contact"><%= f.label :name %></p>
    <%= f.text_field :name, id: 'name', placeholder: 'First and last name' %>

    <p class="contact"><%= f.label :email %></p>
    <%= f.text_field :email, id: 'email', placeholder: 'example@domain.com'%>

    <p class="contact"><label for="username">Create a username</label></p> 
    <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text"> 

    <p class="contact"><%= f.label :password %></p>
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: "Password") %>


    <p class="contact"><label for="repassword">Confirm your password</label></p> 
    <%= f.password_field(:password, type: "password", class: "form-control", placeholder: "Password") %>

    <br><br>

    <%= f.submit 'Register', class: 'btn btn-primary' %>

  <% end %>

</div>      
</div>
</div>