<div id = "body_new-user" class="container-fluid">
 <header >
  <div align="center"><h1> <%= t('.checkout')%> </h1></div>
</header>       
<div  class="form">
  <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p class="contact"><label> <%= t('.name') %> </label></p>
    <%= f.text_field :name, id: 'name', placeholder: t('.first_and_last_name') %>

    <p class="contact"><label> <%= t('.email') %> </label></p>
    <%= f.email_field :email, id: 'email', placeholder: t('.email2')%>

    <p class="contact"><label> <%= t('.address') %> </label></p> 
    <%= f.text_area :address, rows: 3, cols: 46, placeholder: t('.full_address')  %>


    <p class="contact"><label> <%= t('.pay_type') %> </label></p>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: t('.payment_method') %>

    <br><br>
    <div style="margin-top:30px; padding-bottom:30px;">
      <%= f.submit t('.place_order'), class: 'btn btn-primary' %>
      <div style="margin: -52px 0 0 325px"><%= link_to t('.back'), products_path, class: 'btn btn-success' %></div>
    </div>
  <% end %>

</div>      
</div>
</div>