<section class="jumbotron text-center" style="margin-top:6%;height:520px; background: url('/assets/contact.jpg')">
<div class = "container-fluid">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading"  style="color:#0275d8; font-family: Impact, sans-serif; font-size:23px;">
            <h1> <%= t('.contactus') %> </h1>
            <h3>Have questions? We have answers.</h3> 
        </div>
    </div>
</div>
</section>

<div class="container-fluid" style="height:1000px;">      
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 

      <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

        </div>

        <address id="adresa">
               <h1> <%= t('.address') %> </h1><br>
               <%= t('.dpk') %> <br>
               <strong><%= t('.phn') %></strong>049-111-000<br>     
               <strong><%= t('.fax') %></strong>038-111-000  <br>   
               <strong><%= t('.email') %></strong> <a href="https://gmail.com/" style="color:blue">bookabook@gmail.com</a>
        </address>
        <br>
        <br>

    
 

        <div id="form">
           <%= form_for(@contact) do |f| %>
            <label> <%= t('.name')%> </label>
                <%= f.text_field :name, class: 'form-control'%>
                      <br>   
              <label> <%= t('.email')%> </label>
                <%= f.text_field :name, class: 'form-control'%>
                      <br>
              <label> <%= t('.message')%> </label> 
             <%= f.text_area :message, class: 'form-control' %>
             <br>
             <button type="submit" class="btn btn-primary"> <%= t('.smessage') %> </button>
           <% end %>
        </div>

        <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11735.604502973776!2d21.16542862193219!3d42.663450615818405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1450381270782" width="100%" height="280" frameborder="4" allowfullscreen></iframe>
        </div> 

</div>
</div>
